{% extends 'base.html.twig' %}
{% block title %}CarList{% endblock %}
{% block body %}

    <body class="parallax">
 
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/car">CarList</a></li>
            <li><a href="/car/add">Add Car</a></li>
            <li><a href="/upload">Upload Image</a></li>
            <li><a href="/list">List Products</a></li>
            {# <li><a href="/form">Contact</a></li> #}
            <li><a class="logout" href="/logout">Logout</a></li>          
        </ul>


        <div class="div">Service Auto</div>
        <br> 
        <div class="divcartext">Car List manage detail about cars. Here you can see how many cars are in and you can see every detail about them.</div>
        <div style="font-size:20px; margin-left: 50px; margin-right: 100px;">Check services, add a new car and see the car you are watching for. </div>
   <br>
    <table class="carlist">
        <tr>
            <th>No</th>
            <th>PlateNumber</th> 
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Color</th>
            <th>Type</th>
            <th>Check</th>
            <th>Add</th>

           {% for key in Car %}
        <tr>
            <td>{{ key.id }}</td>
            <td>{{ key.plateNumber }}</td>
            <td>{{ key.brand }}</td>
            <td>{{ key.model }}</td>
            <td>{{ key.year }}</td>
            <td>{{ key.color }}</td>
            <td>{{ key.type }}</td>
            <th class="th"> <button class="button button2 button1">
                    <a href="/car/service/?nr={{key.plateNumber}}">Check services</a></button></th>
            <th class="th"> <button class="button button2 button1">
                    <a href="/car/service/add/?nr={{key.plateNumber}}">Add Service</a></button></th> 
        </tr>
        {% endfor %}

    </table>
 <br> 
 
  

</body>

{% endblock %}