{% extends 'base.html.twig' %}
{% block title %}CarList{% endblock %}
{% block style %}
    body{
        font-family:Arial;
  
    }
    .parallax{
        background-image: url("../../white.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
    }
    table {
        border-collapse: collapse;
        width: 90%;
        margin-left:50px;
    }
    th, td {
        text-align: left;
        padding: 7px;  
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    th {
        background-color: #af4c4c;
        color: white;   
    }
    .button2:hover {
        box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    a:link, a:visited {
       color:white;
       text-decoration: none;
    }
    .button {
        background-color: #af4c4c; /* Green */
        border: none;
        color: white;
        padding: 7px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 3px 1px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        border-radius:5px;
        margin-left:20%;
    }
    .div{
        text-align:center;
        font-size: 50px;
        font-family:Verdana;
        text-shadow: 2px 2px 5px red;
        padding:5px;
        margin-bottom:5px;
        color:#7a3535;
    }
    .button1{
        margin-left:2px;
    }
    .th{
        background-color: #f2f2f2;
        color: white;
    }

    .button3{
        padding:15px;
        font-size: 20px;
        margin-top:50px;
        margin-bottom:50px;
        margin-left:45%;
    }
      .div1{
        margin:150px 150px 150px 150px;       
        background-color: #f2f2f2;
        padding:50px;
        opacity:0.7;
    }
     .div1:hover{
        opacity:0.9;
    }
    .div4{
        text-align:center;
        margin:30px 100px 10px 50px;
        text-align: justify;
        font-size:20px;
    }

{% endblock %}
{% block body %}

 <body class="parallax">
       <div class="div">Car Service</div>
        <br> 
        <div class="div4">Car List manage detail about cars. Here you can see how many cars are in and you can see every detail about them.</div>
   <div style="font-size:20px; margin-left: 50px; margin-right: 100px;">Check services, add a new car and see the car you are watching for. But more you can check services from uploading a image with a plate number.</div>
   <br>
   <table>
  <tr>
    <th>No</th>
    <th>PlateNumber</th> 
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
    <th>Color</th>
    <th>Type</th>
    <th>Check</th>
    <th>Add</th>
    
     {% for key in Car %}
  <tr>
    <td>{{ key.id }}</td>
    <td>{{ key.plateNumber }}</td>
    <td>{{ key.brand }}</td>
    <td>{{ key.model }}</td>
    <td>{{ key.year }}</td>
    <td>{{ key.color }}</td>
    <td>{{ key.type }}</td>
    <th class="th"> <button class="button button2 button1"><a href="/car/service/?nr={{key.plateNumber}}">Check services</a></button></th>
    <th class="th"> <button class="button button2 button1"><a href="/car/service/add/?nr={{key.plateNumber}}">Add Service</a></button></th> 
  </tr>
  {% endfor %}

 </table>
 <br> 
  <div class="div1">
      <p style="text-align: center; font-size: 20px;">You can add a car to list.</p>
    
 <button class="button button2 button3"><a href="/car/add">Add Car</a></button>
 </div>

  <div class="div1">
      <p style="text-align: center; font-size: 20px;">You can upload an image and check it services.</p>
      
 <button class="button button2 button3"><a href="/">Upload</a></button>
  </div>
</body>

{% endblock %}