{% extends 'base.html.twig' %}

{% block title %}CarService{% endblock %}
{% block style %}
.button {
    background-color: #af4c4c; /* Green */
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 1px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius:10px;
    margin-left:50px;
}
.button2:hover {
    box-shadow: 0 8px 13px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

a:link, a:visited {
   color:white;
   text-decoration: none;
}
table {
    border-collapse: collapse;
    width: 90%;
    margin-left:50px;
}

th, td {
    text-align: left;
    padding: 10px;
    
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #af4c4c;
    color: white;
    
}
.ds{
width:60%;
}
.div{
text-align:center;
font-size: 50px;
font-family:Verdana;
text-shadow: 2px 2px 5px red;
padding:5px;
margin-bottom:5px;
color:#7a3535;
}
{% endblock %}
{% block body %}

<html>
    <head>
           

   </head>
   <body>
   <div class="div">Car Service</div>
 <table >
  <tr>
    <th>Id</th>
    <th>Title</th> 
    <th>Price</th>
    <th>Description</th>
    <th>Service Date</th>
   
   {% for key in viewServices %}
  <tr>
    <td>{{ key.id }}</td>
    <td>{{ key.title }}</td>
    <td>{{ key.price }}</td>
    <td class="ds">{{ key.description }}</td>
    <td>{{ key.serviceDate|date('Y-m-d H-i-s') }}</td>
  </tr>
  {% endfor %}
 
 </table>
  <button class="button button2"><a href="/car">Back Home</a></button>
  
   </body>
   
</html>

{% endblock %}